<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Microsoft Visual C++ Redistributable All-In-One Installer" Version="1.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="903c6230-9167-402d-bfaf-e5c1307471cf">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LogoFile="logo.png"
        LicenseFile="license.rtf"
        ShowVersion="yes"
        ThemeFile="thm.xml"
        LocalizationFile="thm.wxl" />
    </BootstrapperApplicationRef>
    <WixVariable Id="WixBundleDirectoryLayout" Value ="vcredist" />
    <Chain>
      <PackageGroupRef Id="vcredist_2005" />
      <RollbackBoundary Id="vcredist_2005_rollback" />
      <PackageGroupRef Id="vcredist_2008" />
      <RollbackBoundary Id="vcredist_2008_rollback" />
      <PackageGroupRef Id="vcredist_2010" />
      <RollbackBoundary Id="vcredist_2010_rollback" />
      <PackageGroupRef Id="vcredist_2012" />
      <RollbackBoundary Id="vcredist_2012_rollback" />
      <PackageGroupRef Id="vcredist_2013" />
      <RollbackBoundary Id="vcredist_2013_rollback" />
      <PackageGroupRef Id="vcredist_2015" />
      <RollbackBoundary Id="vcredist_2015_rollback" />
      <PackageGroupRef Id="vcredist_2017" />
      <RollbackBoundary Id="vcredist_2017_rollback" />
    </Chain>
  </Bundle>
  <?include vcredist\2005.wxi?>
  <?include vcredist\2008.wxi?>
  <?include vcredist\2010.wxi?>
  <?include vcredist\2012.wxi?>
  <?include vcredist\2013.wxi?>
  <?include vcredist\2015.wxi?>
  <?include vcredist\2017.wxi?>
</Wix>